{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h4>{{ status == 'volunteer' ? 'Volontaire' : 'Bénéficiaire' }}</h4>
                <table class="striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Crée le</th>
                        <th>Actif</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% include 'admin/_components/_tableUsers.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col s6">
                <h4>Ajoutée un {{ status == 'volunteer' ? 'volontaire' : 'bénéficiaire' }}</h4>
                {{ include('user/_form_register.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
