{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container">
        <h4>Edition d'un {{ status == 'volunteer' ? 'bénévole' : 'bénéficiaire' }}</h4>
        {% include 'user/_form_edit.html.twig' %}
    </div>
{% endblock %}
