{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container-wide">
        <div class="row">
            <div class="col s10 offset-s1 center-align z-depth-2 border-radius mb-l mt-l pad-0">
                <h4 class="bck-night-gr border-radius-top admin-title-card pt-l pb-l">
                    Disponibilités de {{ user.givenName }} {{ user.familyName }}
                </h4>
                <table class="centered striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DATE</th>
                            <th>MATIN</th>
                            <th>APRÈS-MIDI</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for schedule in schedules %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ schedule.date.format('d-m-Y') }}</td>
                            <td>
                                {% if schedule.isMorning == true %}
                                    <i class="material-icons schedule-true">brightness_1</i>
                                {% else %}
                                    <i class="material-icons schedule-false">brightness_1</i>
                                {% endif %}
                            </td>
                            <td>
                                {% if schedule.isAfternoon == true %}
                                    <i class="material-icons schedule-true">brightness_1</i>
                                {% else %}
                                    <i class="material-icons schedule-false">brightness_1</i>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Cet accompagnant n'a pas encore indiqué de disponibilités.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
