{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Login{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row z-depth-2 border-radius-bottom">
            <h3 class="bck-night-gr white-text center pad border-radius-top mb-s">
                <i class="material-icons trip-title">account_circle</i>
            </h3>
            <div class="mt-l mb-l">
                {% if app.request.locale == 'ar' %}
                    {{ include('_arab_templates/ar_user_login_form.html.twig') }}
                {% else %}
                    {{ include('user/_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container center-align">
        <h2>
            <a href="{{ path('homepage') }}">
                <i class="material-icons trip-title color-red txt-shadow-black">home</i>
            </a>
        </h2>
    </div>
{% endblock %}

{% block navigation %}{% endblock %}
