{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Inscription{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container mb-l">
        <div class="row z-depth-2 border-radius-bottom">
            <h3 class="bck-night-gr white-text center pad border-radius-top mb-s">
                <i class="material-icons trip-title">account_circle</i>
                <i class="material-icons trip-title">add</i>
            </h3>
            {% if app.request.locale == 'ar' %}
                {{ include('_arab_templates/ar_user_register_form.html.twig') }}
            {% else %}
                {{ include('user/_form_register.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block navigation %}{% endblock %}
