{% extends 'base.html.twig' %}

{% block title %}{{ volunteer is defined ? 'Matching trip' : 'Trip index' }}{% endblock %}

{% block body %}

    {% for label, messages in app.flashes(['success']) %}
        {% for message in messages %}
            <div class="green lighten-2 flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <div class="row">
            <h3 class="bck-night-gr white-text center pad border-radius mb-s">
                <i class="material-icons trip-title">directions_car</i>
                {% if app.user.status == 'beneficiary' %}
                    <i class="material-icons trip-title">access_time</i>
                {% else %}
                    <i class="material-icons trip-title">help_outline</i>
                {% endif %}
            </h3>
            {% include '_components/_tripTable.html.twig' %}
            {% if app.user.status == 'beneficiary' %}
                <div class="center-align mt">
                    <a href="{{ path('trip_new') }}" class="btn"><i class="material-icons">add</i></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
