{% extends 'base.html.twig' %}

{% block title %}Trip index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="bck-night white-text center pad border-radius">
                <i class="material-icons trip-title">directions_car</i>
                <i class="material-icons trip-title">access_time</i>
            </h3>
            {% include '_components/_tripTable.html.twig' %}
            <div class="center-align mt">
                <a href="{{ path('trip_new') }}" class="btn"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
{% endblock %}
