{% extends 'base.html.twig' %}

{% block title %}Add a trip{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="bck-night white-text center pad border-radius">
                <i class="material-icons trip-title">directions_car</i>
                <i class="material-icons trip-title">add</i>
            </h3>
            {{ include('trip/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
