{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Add an accompanying{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row z-depth-2 border-radius-bottom">
            <h3 class="bck-night-gr white-text center pad border-radius-top mb-s">
                <i class="material-icons trip-title">directions_car</i>
                <i class="material-icons trip-title">add</i>
            </h3>
            {{ include('trip/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
