@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* COLORS */
$blue-ice : rgb(203, 225, 237);
$blue-night : rgb(20, 74, 138);
$blue-duck : rgb(5, 122, 155);
$white : #FFFFFF;
$black : #000000;

/* FONTS */
$font : 'Roboto', sans-serif;
