/* STYLE CLASSES */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), local('Roboto Regular'),
  url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), local('Roboto Bold'),
  url('../font/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), local('Roboto Italic'),
  url('../font/Roboto/Roboto-Italic.ttf') format('truetype');
}

/* COLORS */
$blue-ice   : rgb(203, 225, 237);
$blue-night : rgb(20, 74, 138);
$blue-duck  : rgb(5, 122, 155);
$green      : #00C853;
$red        : #dd2c00;
$white      : #FFFFFF;
$black      : #000000;
$grey       : #5e5e5e;

/* FONTS */
$font : 'Roboto', sans-serif;
