@import "vars";

/* Materialize import CSS */
@import "~materialize-css/sass/materialize";

/* STYLE CLASSES */
.bck-ice {
    background-color: $blue-ice;
}

.bck-night {
    background-color: $blue-night;
}

.bck-duck {
    background-color: $blue-duck;
}

.pad {
    padding: 1rem;
}

.pl {
    padding-left: 1rem;
}

.pr {
    padding-right: 1rem;
}

.pt {
    padding-top: 1rem;
}

.pb {
    padding-bottom: 1rem;
}

.margin {
    margin: 1rem;
}

.ml {
    margin-left: 1rem;
}

.mr {
    margin-right: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

/* END */

/* MAIN CSS */
body {
    background-color: $white;
    font-family: $font;
}

