.bck-ice {
  background-color: $blue-ice;
}

.bck-night {
  background-color: $blue-night;
}

.bck-duck {
  background-color: $blue-duck;
}

.bck-green {
  background-color: $green;
}

.row {
  margin-bottom: 0;
}

.pad {
  padding: 1rem;
}

.pad-s {
  padding: 0.5rem;
}

.pl {
  padding-left: 1rem;
}

.pl-s {
  padding-left: 0.5rem;
}

.pr {
  padding-right: 1rem;
}

.pr-s {
  padding-right: 0.5rem;
}

.pt {
  padding-top: 1rem;
}

.pt-s {
  padding-top: 0.5rem;
}

.pb {
  padding-bottom: 1rem;
}

.pb-s {
  padding-bottom: 0.5rem;
}

.margin {
  margin: 1rem;
}
.margin-s {
  margin: 0.5rem;
}

.ml {
  margin-left: 1rem;
}

.ml-s {
  margin-left: 0.5rem;
}

.mr {
  margin-right: 1rem;
}

.mr-s {
  margin-right: 0.5rem;
}

.mt {
  margin-top: 1rem;
}

.mt-s {
  margin-top: 0.5rem;
}

.mb {
  margin-bottom: 1rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.border-radius {
  border-radius: 5px;
}

.btn {
  background-color: $blue-duck;
}

/* END */
body {
  background-color: $blue-ice;
  font-family: $font;
}

button, input, select, textarea, table {
  font-family: $font;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $black;
}

.img-home {
  width: 80%;
}
