/* VOLUNTEER */

.schedule-date {
  font-size: 1.2em!important;
  margin-top: 0.8em!important;
}

.schedule-calendar {
  font-size: 1.5em!important;
  margin-top: 1em!important;
}

.schedule-true {
  color: #00C853;
}

.schedule-false {
  color: #dd2c00;
}

.pictos-trip {
  font-size: 2em!important;
  margin-top: 0.8em!important;
}

.trip-row {
  margin-top: 0.8em!important;
  padding: 0 !important;
}

.trip-title {
  font-size: 2em !important;
}

.table-trip {
  font-size: 1.5em !important;
}
/* END */
