{% extends 'admin/base.html.twig' %}

{% block title %}Administration - Accueil{% endblock %}

{% block body %}
    <ul id="slide-out" class="sidenav">
        <li>

        </li>
    </ul>
    <div class="container-wide">
        <div class="row admin-margin">
            <div class="col s5 center-align z-depth-2 border-radius mb-l mt-s pad-0">
                <h4 class="bck-night-gr border-radius-top admin-title-card pt-l pb-l">Accompagnants</h4>
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PRÉNOM</th>
                            <th>NOM</th>
                            <th>CRÉÉ LE</th>
                            <th>ACTIF</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in usersVolunteer %}
                                {% include 'admin/_components/_tableUsers.html.twig' %}
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('admin_common', {'status': 'volunteer'}) }}">
                    <button class="waves-effect waves-light btn mb-l mt-l">En voir plus</button>
                </a>
            </div>
            <div class="col s5 offset-s1 center-align z-depth-2 border-radius mb-l mt-s pad-0">
                <h4 class="bck-night-gr border-radius-top admin-title-card pt-l pb-l">Bénéficiaires</h4>
                <table class="striped centered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>PRÉNOM</th>
                        <th>NOM</th>
                        <th>CRÉÉ LE</th>
                        <th>ACTIF</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in usersBeneficiary %}
                            {% include 'admin/_components/_tableUsers.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('admin_common', {'status': 'beneficiary'}) }}">
                    <button class="waves-effect waves-light btn mb-l mt-l">En voir plus</button>
                </a>
            </div>
        </div>
        <div class="row mt-s admin-margin">
            <div class="col s11 center-align z-depth-2 border-radius mb-l pad-0">
                <h4 class="bck-night-gr border-radius-top admin-title-card pt-l pb-l">Accompagnements</h4>
                <table class="striped centered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>DÉPART</th>
                        <th>ARRIVÉE</th>
                        <th>DATE</th>
                        <th>BÉNÉFICIAIRE</th>
                        <th>ACCOMPAGNANT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                            {% include 'admin/_components/_tableTrips.html.twig' %}
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun accompagnement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('admin_trips') }}">
                    <button class="waves-effect waves-light btn mb-l mt-l">En voir plus</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
