<nav class="bck-night">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('admin_index') }}">Accueil</a></li>
            <li><a href="">Accompagnement</a></li>
            <li><a href="{{ path('admin_common', {'status': 'volunteer'}) }}">Volontaires</a></li>
            <li><a href="{{ path('admin_common', {'status': 'beneficiary'}) }}">Bénéficiaires</a></li>
            <li><a href="">Départs</a></li>
            <li><a href="">Arrivé</a></li>
        </ul>
    </div>
</nav>
