<table class="striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Crée le</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {# {% for volunteerUser in volunteerUsers %} @TODO End for in for user #}
        <tr>
            <td>Jean</td>
            <td>Test</td>
            <td>03/06/2020</td>
            <td>Bénévole</td>
            <td>
                <i class="material-icons">edit</i> /
                <i class="material-icons">delete</i>
            </td>
        </tr>
    {# {% endfor %} #}
    </tbody>
</table>
