<form method="post" action="{{ path('arrival_delete', {'id': arrival.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce point d\'arrivée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ arrival.id) }}">
    <button class="btn admin-delete-btn"><i class="material-icons">delete</i></button>
</form>
