{{ form_start(form) }}
    <div class="pl-l pr-l mb-l mt-l">
        {{ form_widget(form.name) }}
    </div>
    <div class="pl-l pr-l mb-l">
        {{ form_widget(form.category) }}
    </div>
    <button class="btn mb-l"><i class="material-icons">arrow_forward</i></button>
{{ form_end(form) }}
