{# templates/emails/confirmation.html.twig #}
<!-- mail automatique confirmation d'accompagnement -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:v="urn:schemas-microsoft.com:vml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0 maximum-scale=1.0">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table align="center"  width="590" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="navy">
    <td height="10">&nbsp;</td>
    <td height="10">&nbsp;</td>
    <td height="10">&nbsp;</td>
  </tr>
  <!-- Header -->
  <tr bgcolor="navy">
    <td height="100">&nbsp;</td>
    <td style="text-align: center; color: white;">
      <img src="https://cdn.discordapp.com/attachments/714411613809016884/724632956509093888/Logo.png"
           alt="logo France Terre d'Asile" width="100" height="100">
      <h1>France Terre d'Asile</h1>
    </td>
    <td height="30" style="font-size:30px; line-height: 30px;"></td>
  </tr>
  <!-- Titre du message -->
  <tr>
    <td height="30" style="font-size:30px; line-height: 30px;">&nbsp;</td>
    <td style="text-align: center;">

      <h1>Accompanying confirmation</h1>
      <h2>Hi,{{ username}} </h2>

    </td>
    <td>&nbsp;</td>
  </tr>
  <!-- corps du message -->
  <tr>
    <td height="30" style="font-size:30px; line-height: 30px;">&nbsp;</td>
    <td style="text-align: center;">
      <h3>Summary</h3>
      <p>Depart from : {{ departure}} </p>
      <p>Arrive at : {{ arrival}} </p>
      <p>Date :  at </p>
      <p>Volunteer :  </p>
    </td>
    <td>&nbsp;</td>
  </tr>
  <!-- Footer -->
  <tr bgcolor="navy">
    <td height="100" style="font-size:100px; line-height: 100px;">&nbsp;</td>
    <td style="text-align: center; color: white;"><a style="color:white" href="mailto:projet.franceterredasile@gmail.com">projet.franceterredasile@gmail.com</a>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>