<table class="table">
    <thead>
    <tr>
        <th class="center-align"><i class="material-icons trip-title">date_range</i></th>
        <th class="center-align"><i class="material-icons trip-title">access_time</i></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for trip in trips %}
        <tr>
            <td class="center-align">{{ trip.date|date('Y-m-d') }}</td>
            <td class="center-align">{{ trip.date|date('h:i A') }}</td>
            <td class="center-align">
                <a href="{{ path('trip_show', {'id': trip.id}) }}" class="btn"><i class="material-icons">remove_red_eye</i></a>
            </td>
        </tr>

    {% else %}
        <tr>
            <td colspan="5" class="center-align">No trip found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
