{% extends 'base.html.twig' %}

{% block title %}Test page{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="bck-night hoverable white-text pad">Titre h1</h1>
        <div class="row valign-wrapper">
            <div class="col m6 no-padding mr">
                <h2 class="bck-duck hoverable pad">Titre h2</h2>
            </div>
            <div class="col m6 no-padding ml">
                <h3 class="bck-ice hoverable pad">Titre h3</h3>
            </div>
        </div>
        <h4 class="pad">Titre h4</h4>
    </div>
{% endblock %}
