{% extends 'base.html.twig' %}

{% block title %}Welcome to France Terre d'Asile{% endblock %}

{% block body %}

    <div class="section">
        <div class="row">
            <div class="center-align ">
                <img class="img-home"  src="https://zupimages.net/up/20/26/upeq.png">
                <div class="trip-show-tools">
                    <div class="center-align">
                        <h2 class="center light-blue-text"><i class="medium material-icons">account_box</i></h2>
                        <a class="center light-blue-text" href="/login">Login</a>
                    </div>
                    <div>
                        <div class="center-align">
                            <h2 class=" center light-blue-text"><i class="medium material-icons">person_add</i></h2>
                            <a class="center light-blue-text" href="/register">Create your account
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block navigation %}{% endblock %}

{% endblock %}


