{{ form_start(form) }}
<div class="center-align">
    {{ form_row(form.imageFile) }}
</div>
<div class="center-align">
    <button class="btn waves-effect waves-light mt mb" id="button_schedule" type="submit" name="action">
        <i class="material-icons">check</i>
    </button>
</div>
{{ form_end(form) }}
