{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Edit my profile{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row z-depth-2">
        <h3 class="bck-night-gr white-text center pad border-radius-top mb-s">
            <i class="material-icons trip-title">account_circle</i>
            <i class="material-icons trip-title">edit</i>
        </h3>
        {{ include('user/_form_edit.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
