{% extends 'admin/base.html.twig' %}

{% block title %}Accompagnement{% endblock %}

{% block body %}
    <div class="container-wide">
        <div class="row">
            <div class="center-align z-depth-2 border-radius mb-l mt-l pad-0">
                <h4 class="bck-night-gr border-radius-top admin-title-card pt-l pb-l">
                    Accompagnement
                </h4>
                <table class="striped">
                    <thead>
                    <tr>
                        <th class="center-align">#</th>
                        <th class="center-align">DÉPART</th>
                        <th class="center-align">ARRIVÉE</th>
                        <th class="center-align">DATE</th>
                        <th class="center-align">HEURE</th>
                        <th class="center-align">BÉNÉFICIAIRE</th>
                        <th class="center-align">ACCOMPAGNANT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                        {% include 'admin/_components/_tableTrips.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
